header {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3rem 0;
      background-color: #fff;
      nav {
        ul {
          display: flex;
          gap: 2rem;
          li {
            a {
              color: #000;
            }
          }
        }
      }
  
      .icons {
        display: flex;
        gap: 2rem;
        font-size: 1.5rem;
      }
    }
  };